<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} - docs.casa</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <style>
      body {
          max-width: min(85%, 780px);
      }
      nav ul {
        padding: 0;
        display: flex;
        list-style: none;
      }
      nav ul li:not(:last-of-type):after {
        content: " / ";
        margin-right: 0.3rem;
      }
      input.tag ~ ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s;
      }
      input.tag:checked ~ ul {
        max-height: 500px;
      }
      label.tag {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>
        計算機と文字
      </h1>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/profile/">PROFILE</a></li>
        </ul>
      </nav>
    </header>
    <hr>
    <main>
      <article>
      {{ content | safe }}
      </article>
      {% if title != "Home" %}
      <aside>
        <h2>See also</h2>
        <ul>
        {% for tag in collections.tagList %}
        <li>
          <label for="{{ tag }}" class="tag"><code>{{ tag }}</code></label>
          <input id="{{ tag }}" name="tag" class="tag" type="checkbox" hidden/>
          <ul>
            {% for article in collections[tag]%}
            <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
        </ul>
      </aside>
      {% endif %}
    </main>
    <footer>
      <p>Copyright (c) 2019-2021 TANIGUCHI Masaya All Rights Reserved.</p>
      <p>Please tell me on <a href="https://github.com/tani/docs">GitHub</a> if you found any typos and misstatements.</p>
    </footer>
  </body>
</html>
