<!doctype html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}} - docs.casa</title>
  <link rel="icon" href="data:," />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"
    async></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
    crossorigin="anonymous">
  <style>
    input.tag~ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s;
    }

    input.tag:checked~ul {
      max-height: 500px;
    }

    label.tag {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">M.TANIGUCHI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/profile/">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container py-3 border-bottom">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <article>
            {{ content | safe }}
            (Published at {{ page.date | toUTCString }})
          </article>
          {% if title != "Home" %}
          <aside>
            <h2>See also</h2>
            <ul>
              {% for tag in collections.tagList %}
              <li>
                <label for="{{ tag }}" class="tag"><code>{{ tag }}</code></label>
                <input id="{{ tag }}" class="tag" type="checkbox" hidden />
                <ul>
                  {% for article in collections[tag]%}
                  <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </aside>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container py-3">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <p>Copyright (c) 2019-2021 TANIGUCHI Masaya All Rights Reserved.</p>
          <p>Please tell me on <a href="https://github.com/tani/docs">GitHub</a> if you found any typos and
            misstatements.</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>