<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} - www.docs.casa</title>
    <link rel="icon" href="data:," />
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css" onload="this.rel='stylesheet'"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Shippori+Mincho+B1:wght@400;700&display=swap" onload="this.rel='stylesheet'">
    <style>
      body {
        font-family: 'Shippori Mincho B1', serif;
        width: min(900px, 100%);
        margin: 0 auto;
      }
      @media(max-width: 900px) {
        body {
          padding: 0 10px;
        }
      }
      @media(max-width: 375px) {
        aside {
          border-top: 1px solid black;
        }
      }
      @media(min-width: 376px) {
        main {
          display: grid;
          grid-template-columns: 2.4142fr 1fr;
        } 
        article {
          padding-right: 10px;
        }
        aside {
          border-left: 1px solid black;
          padding-left: 10px;
        }
      }
      pre, code {
        font-family: 'Inconsolate', monospace;
      }
      pre > code {
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      header {
        border-bottom: solid 2px black;
      }
      footer {
        border-top: solid 2px black;
      }
      nav ul {
        padding: 0;
        display: flex;
        list-style: none;
      }
      nav ul li:before{
        content: " [ ";
      }
      nav ul li:after {
        content: " ] ";
      }
      h1, h2, h3, h4, h5 {
        margin: 1rem 0;
      }
      thead {
        border-bottom: 2px solid black;
      }
      table, th, td {
        border-collapse: collapse;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>
        計算機と文字
      </h1>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/profile/">PROFILE</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
      {{ content | safe }}
      </article>
      {% if title != "Home" %}
      <aside>
        {% if tags contains "blog" %}
        {% assign tag = "blog" %}
        {% endif %}
        {% if tags contains "knowledge" %}
        {% assign tag = "knowledge" %}
        {% endif %}
        <h2>Articles</h2>
        <ul>
        {% for article in collections[tag]%}
          <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
        {% endfor %}
        </ul>
      </aside>
      {% endif %}
    </main>
    <footer>
      <p>Copyright (c) 2020 TANIGUCHI Masaya All Rights Reserved.</p>
      <p>Please tell me on <a href="https://github.com/nzt/docs">GitHub</a> if you found any typos and misstatements.</p>
    </footer>
  </body>
</html>
